CMS_DATABASE_URI=database-uri
PAYLOAD_SECRET=your-secret-key
NEXT_PUBLIC_CMS_ENABLED=true or false
CMS_BASE_URL=http://localhost:3000
PAYLOAD_API_KEY=admin-key-for-authenticated-fetching
PREVIEW_SECRET=your-preview-secret
